@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100&display=swap");

body {
  display: flex;
  background-color: #f4f4f4;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 30px;
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

header {
  background-color: #f4f4f4;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

img {
  margin-top: 50px;
  width: 400px;
}

.lateral {
  width: 150px;
  height: 580px;
  background-color: #2a10f8;
}

#titulo {
  width: 12%;
  height: 100%;
}

.filtro {
  background-color: white;
  width: 150px;
  height: 31px;
  box-shadow: 1px #2a10f8;
  border: solid 0.1px #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}


.select {
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  width: 150px;
  height: 25px;
}

.button {
  font-family: "Poppins", sans-serif;
  width: 150px;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
}

.separetor {
  padding-top: 10px;
}

.button:hover {
  cursor: pointer;
  background-color: #2a10f8;
  color: #fff;
}

.filtro:hover {
  cursor: pointer;
  background-color: #2a10f8;
  color: #fff;
}

.graficos {
  width: 25%;
  align-items: center;
  text-align: center;
  display: flex;
  margin-top: -180px;
  margin-left: 300px;
}

.grafico {
  margin-right: 30px;
}

#grafico1 {
  width: 80%;
  height: 100%;
}

#grafico2 {
  width: 80%;
  height: 100%;
}

.map {
  width: 25%;
}

.tabela1 table {
  width: 100%;
}

.tabela1 {
  width: 50px;
  height: 300px;
  padding-right: 500px;
  margin-right: 20px;
  padding-top: 50px;
  display: flex;
  border-radius: 50px;
  background-color: #fff;
}

.tabela1 th,
.tabela1 td {
  justify-content: center;
  text-align: center;
  padding-right: 25px; /* Adicione o espaçamento desejado entre os dados */
}

.map img {
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}
