
*{
    padding: 0;
    margin: 0;
}

header{
    background-color: #F4F4F4;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
   
}

main{
    display: flex;
    background-color: #F4F4F4;
    height: 85vh;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  
}

.lateral{
    height: 85vh;
    width: 15%;
    background-color: #003857;
}

#titulo{
    width: 12%;
    height: 100%;
    
}

.filtro{
    background-color: white;
    width: 10%;
    height: 40%;
    box-shadow: 1px 1px 1px  #003857 ;
    border: solid 0.1px #003857;
    border-radius: 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa{
   
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.grafico{
   
    width: 50%;
    height: 50%;
    
}

#conteiner{
    display: flex;
    flex-wrap: wrap;
   
    width: 85%;
    height: 85vh;
}

#tabela{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 100%;
}

.quadrado{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 18%;
    height: 15%;
    border: solid black 0.2px;
    border-radius: 15px;
}

#grafico1{
    width: 80% ;
    height: 100% ;
}

#grafico2{
    width: 80% ;
    height: 100% ;
}

#buscar{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
   
    align-items: center;
}